<button class="menu-btn">МЕНЮ</button>
<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><a class="menu__link" href="/">Главная</a></li>
    <li class="menu__item">
      <a class="menu__link" href="/nashi-uslugi.html">Наши услуги</a>
      <div class="menu__submenu">
        <ul class="menu__submenu-list">
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/borba-s-nasekomymi.html">Борьба с насекомыми</a>
          </li>
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/borba-s-gryzunami.html">Борьба с грызунами</a>
          </li>
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/borba-s-bakteriyami.html">Борьба с бактериями</a>
          </li>
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/borba-s-gribkom.html">Борьба с грибком</a>
          </li>
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/borba-s-plesenyu.html">Борьба с плесенью</a>
          </li>
          <li class="menu__submenu-item">
            <a class="menu__submenu-link" href="/lechenie-derevev.html">Лечение деревьев</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/o-nas.html">Информация о компании</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" href="/kontakty.html">Контакты</a>
    </li>
  </ul>
</nav>
