//modal
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;

  &__inner {
    padding: 20px;
    max-width: 350px;
    min-height: 300px;
    border-radius: 8px;
    background-color: var(--color-white);
  }

  &__header {
    position: relative;
  }
  &__title {
    text-align: center;
  }

  &__close {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: -10px;
    top: -10px;
  }
}
