.posts {
  &__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  &__item {
    position: relative;
    padding: 20px;
    display: flex;
    gap: var(--gap);
    background-color: var(--color-white);
    border-radius: 32px;
    transition: box-shadow 0.3s;

    @media (hover: hover) {
      &:hover {
        box-shadow: var(--shadow);
      }
    }
  }

  &__img {
    max-width: 300px;
    max-height: 220px;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
  }

  &__title {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
  }

  &__link {
    transition: color 0.3s;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__date {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    color: var(--color-primary);
  }

  &__excerpt {
    margin: 20px 0 0;
  }
}

@media (max-width: 767px) {
  .posts {
    &__item {
      flex-direction: column;
    }

    &__img {
      max-width: 400px;
      width: 100%;
    }
  }
}

@media (max-width: 479px) {
  .posts {
    &__title {
      font-size: 17px;
    }

    &__excerpt {
      margin-top: 10px;
    }
  }
}
