:root {
  --color-white: #fff;
  --color-grey-10: #f5f5f5;
  --color-grey-20: #c4c4c4;
  --color-grey-30: #9c9c9c;
  --color-grey-40: #6a6a6a;

  --color-black: #333;

  --color-primary: #bb171b;
  --color-primary-light: #d93539;
  --color-primary-dark: #8d0c0e;

  --color-accent: #f8981d;
  --color-light-accent: #e9f0ed;

  --color-error: #e57373;
  // --color-error: #b3261e;
  --color-success: #2e7d32;

  --shadow: 0px 44px 18px rgba(0, 0, 0, 0.01), 0px 25px 15px rgba(0, 0, 0, 0.05), 0px 11px 11px rgba(0, 0, 0, 0.09),
    0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

  --gap: 20px;
  --gutter-outer: 100px;
  --gutter-inner: 40px;
  --container: 1300px;

  --font-primary: 'Rubik', sans-serif;
  --font-secondary: 'Bernhard', serif;
}

@media (max-width: 767px) {
  :root {
    --gutter-outer: 60px;
  }
}
